
.image-icon{
    height: 5em;
    width: 5em;
}

.project-card{
    background-color: #181818;
    color: #FFFFFFFF;
    overflow: hidden;
    word-wrap: break-word;
    border-radius: 5%;
    height: 10em;
}

.project-card:hover{
    background-color: #404040;
}

a:not(#subweb-github){
    width: 100%;
    height: 100%;
}
li{
    display: inline-block;
    justify-content: center;
    width: 10em;
}

