body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color:#ffffff;
    text-align: center;
}


a{
    text-decoration: none;
    color: #FFFFFFFF;
}

.links:hover{
    color:#404040;
}



ul{
    list-style-type: none;
    padding: 0;
}
#error{
    color:red;
}

#subweb-github{
    position: fixed;
    bottom: 0;
    left: 0;
}