<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    {% block head %}{% endblock %} 
</head>
<body>
    {% block content %}{% endblock %}

    <a href="https://github.com/SubhanAfz/subweb/" class="links" id="subweb-github"><p>Now open source on Github!</p></a>
</body>
</html>