{% extends "base.jinja" %}

{% block content %}
<h2>Youtube Downloader</h2>

<form action="/yt_dl/ytdownload" method="post">
    Enter Youtube URL: <input type="text" name="yt_link" id="">
    <br>
    <input type="submit" value="Enter YT URL">
</form>



{% endblock %}